<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="D.N.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <D.N.Properties.Settings>
      <setting name="PrivateBinPath" serializeAs="String">
        <value>lib;plugin;service</value>
      </setting>
      <setting name="AssemblyName" serializeAs="String">
        <value>user.dll</value>
      </setting>
      <setting name="MainClass" serializeAs="String">
        <value>Ukagaka.NET.Shiori</value>
      </setting>
      <setting name="Protocol" serializeAs="String">
        <value>SHIORI/3.0</value>
      </setting>
      <setting name="logfile" serializeAs="String">
        <value>log.txt</value>
      </setting>
      <setting name="logtype" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="loglevel" serializeAs="String">
        <value>NOTICE | WARNING | ERROR | FATAL</value>
      </setting>
      <setting name="logcharset" serializeAs="String">
        <value>UTF-8</value>
      </setting>
    </D.N.Properties.Settings>
  </applicationSettings>
</configuration>